        .box {
            font-family: SF Pro Display;
            font-style: normal;
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
        }
        
        .wrap-box {
            width: 160%;
        }
        
        .wrap-side {
            margin-left: 280px;
        }
        
        .drop-color {
            background-color: #F2D8D5;
            color: #733D47;
        }
        
        .nav-color {
            background-color: #733D47;
            width: 10%;
        }
        
        .cont-wrap {
            margin-left: 370px;
        }
        
        .i-color {
            color: #F2D8D5;
        }
        
        .color {
            color: #733D47;
        }
        
        .vl {
            border-right: 1px solid #733D47;
        }
        
        .form-cont {
            color: #733D47;
        }